body {
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #fff;
}

p {
    margin: 20px;
    font-family: IBM Plex Mono, monospace;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
}
