body {
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #fff
}

p {
    font-family: IBM Plex Mono, monospace;
    font-size: 13px;
    line-height: 13px;
    font-style: normal;
    font-weight: 400
}

.container {
    margin: 20px;
}
